<div class="nested-fields">
  <div class="field">
    <%= form.label :percentage %>
    <br/>
    <%= form.number_field :percentage %>
  </div>
  <%= link_to_remove_association "remove stage", form %>
</div>
