<p id="notice"><%= notice %></p>

<p>
  <strong>Milestone type:</strong>
  <%= @milestone.milestone_type %>
</p>

<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', :back %>
