<div class="nested-fields">
  <div class="field">
    <%= f.label :name %>
    <br/>
    <%#= f.text_field :name %>
    <%#= f.collection_select :site_id, Site.all, :id, :name %>
    <%= f.collection_select(:site_id, @contractor, :id, :name, include_blank: false) %>
  </div>
  <%= link_to_remove_association "remove stage", f %>
</div>
