@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "jquery-ui";

.total-box{
  margin: 0 auto;
  border: none;
  text-align: right;
  background: none;
  font-weight: bold;
}
